<hello name="{{ name }}"></hello>
<p class="text-class">
  Start editing to see some magic happen :)
</p>


<div class="combinator-example">
  This is text
</div>

<!-- margin collapsing -->
<!-- we can use margin top or margin bottom t oovercome this -->

<div class="text-class">Test 1</div>
<div class="combinator-example">Test 2</div>


<div class="product-overview">
  <h1>Get the freedom you deserve</h1>
</div>

<!-- block level elements takes full width -->

<!-- height 100% is tricky it takes full height of its parent. If parent is body then it will be in infinit loop as body takes height as only required amount
Refer to lecture 3-8 -->
  <!-- 3-9 very important -->
  <!-- box-sizing: border-box; includes height, padding, border and not margin -->